@using XtremeIdiots.Portal.Repository.Abstractions.Models.V1.Players
@model IEnumerable<ProtectedNameDto>

@*
    Shared Protected Names Table Partial
    Displays a list of protected names with DataTables responsive support
    
    Usage: Pass IEnumerable<ProtectedNameDto> as model
    Must include protected-names-table.js script in parent view
*@

<div class="table-responsive">
    <table id="protectedNamesTable" class="table table-striped table-hover w-100">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Created</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var protectedName in Model)
            {
                <tr>
                    <td>@protectedName.Name</td>
                    <td>
                        <a asp-controller="Players" asp-action="Details" asp-route-id="@protectedName.PlayerId">
                            View Player Profile
                        </a>
                    </td>
                    <td>@protectedName.CreatedOn.ToString("yyyy-MM-dd")</td>
                    <td>@protectedName.CreatedByUserProfile?.DisplayName</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <a asp-controller="ProtectedNames" asp-action="Report"
                                asp-route-id="@protectedName.ProtectedNameId" class="btn btn-info btn-sm">
                                <i class="fa-solid fa-file-text"></i> <span class="d-none d-sm-inline">Usage Report</span>
                            </a>
                            <a asp-controller="ProtectedNames" asp-action="Delete"
                                asp-route-id="@protectedName.ProtectedNameId" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure you want to delete this protected name?');">
                                <i class="fa-solid fa-trash"></i> <span class="d-none d-sm-inline">Delete</span>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
