@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json
@using XtremeIdiots.Portal.Web.Auth.Constants
@using XtremeIdiots.Portal.Web.Extensions
@using XtremeIdiots.Portal.Web.ViewModels
@using XtremeIdiots.Portal.Repository.Abstractions.Constants.V1
@using XtremeIdiots.Portal.Repository.Abstractions.Models.V1
@using XtremeIdiots.Portal.Repository.Abstractions.Models.V1.GameServers
@model IEnumerable<GameServerDto>

@{
    ViewData["Title"] = "Game Server Credentials";
    var serverConfigs = ViewBag.ServerConfigs as Dictionary<Guid, Dictionary<string, JsonElement>>;
}

@functions {
    static string GetCfg(Dictionary<Guid, Dictionary<string, JsonElement>>? configs, Guid id, string ns, string prop)
    {
        if (configs != null &&
            configs.TryGetValue(id, out var nc) &&
            nc.TryGetValue(ns, out var r) &&
            r.TryGetProperty(prop, out var v) &&
            v.ValueKind == JsonValueKind.String)
            return v.GetString() ?? "";
        return "";
    }
}

@{
    var showFtpColumns = Model.Any(item => AuthorizationService.AuthorizeAsync(User, new Tuple<GameType,
    Guid>(item.GameType, item.GameServerId), AuthPolicies.GameServers_Credentials_Ftp_Read).Result.Succeeded);
    var showRconColumn = Model.Any(item => AuthorizationService.AuthorizeAsync(User, new Tuple<GameType,
    Guid>(item.GameType, item.GameServerId), AuthPolicies.GameServers_Credentials_Rcon_Read).Result.Succeeded);
}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="alert alert-primary" role="alert">
        <i class="fa-solid fa-fw fa-circle-info"></i> To reveal a password simply click on the ****** and you will be able to see
        and copy the password.
    </div>

    <div class="row">
        <div class="col-12">

            <div class="container-fluid">
                <div class="ibox">
                    <div class="ibox-title"><h5>Credentials</h5></div>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table w-100">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            @Html.DisplayNameFor(model => model.GameType)
                                        </th>
                                        <th scope="col">
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th scope="col">
                                            @Html.DisplayNameFor(model => model.Hostname)
                                    </th>

                                    @if (showRconColumn)
                                    {
                                        <th>
                                            RCON Password
                                        </th>
                                    }

                                    @if (showFtpColumns)
                                    {
                                        <th>
                                            FTP Hostname
                                        </th>
                                        <th>
                                            FTP Username
                                        </th>
                                        <th>
                                            FTP Password
                                        </th>
                                    }

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    var rconPassword = GetCfg(serverConfigs, item.GameServerId, "rcon", "password");
                                    var ftpHostname = GetCfg(serverConfigs, item.GameServerId, "ftp", "hostname");
                                    var ftpUsername = GetCfg(serverConfigs, item.GameServerId, "ftp", "username");
                                    var ftpPassword = GetCfg(serverConfigs, item.GameServerId, "ftp", "password");

                                    <tr>
                                        <td>
                                            <game-type-icon game="@item.GameType"></game-type-icon>
                                        </td>
                                        <td>
                                            <server-name title="@item.Title" live-title="@item.Title"></server-name>
                                        </td>
                                        <td>
                                            <server-host host="@item.Hostname" port="@item.QueryPort"></server-host>
                                        </td>

                                        @if (showRconColumn)
                                        {
                                            if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType,
                                            Guid>(item.GameType, item.GameServerId), AuthPolicies.GameServers_Credentials_Rcon_Read)).Succeeded
                                            && !string.IsNullOrWhiteSpace(rconPassword))
                                            {
                                                <td>
                                                    <span id="rconPassword-@item.GameServerId-dummy" class="credential-toggle cursor-pointer">
                                                        *******
                                                        <i class="fa-solid fa-fw fa-eye"></i>
                                                    </span>
                                                    <span id="rconPassword-@item.GameServerId" class="credential-value" data-credential="@rconPassword"
                                                        style="display: none">
                                                        @rconPassword
                                                        <button class="btn btn-sm btn-link copy-btn" data-clipboard="@rconPassword" title="Copy to clipboard">
                                                            <i class="fa-solid fa-fw fa-copy"></i>
                                                        </button>
                                                    </span>
                                                </td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        }

                                        @if (showFtpColumns)
                                        {
                                            if ((await AuthorizationService.AuthorizeAsync(User, new Tuple<GameType,
                                            Guid>(item.GameType, item.GameServerId), AuthPolicies.GameServers_Credentials_Ftp_Read)).Succeeded)
                                            {
                                                <td>
                                                    <span>@ftpHostname</span>
                                                </td>

                                                if (!string.IsNullOrWhiteSpace(ftpUsername))
                                                {
                                                    <td>
                                                        <span id="ftpUsername-@item.GameServerId-dummy" class="credential-toggle cursor-pointer">
                                                            *******
                                                            <i class="fa-solid fa-fw fa-eye"></i>
                                                        </span>
                                                        <span id="ftpUsername-@item.GameServerId" class="credential-value" data-credential="@ftpUsername"
                                                            style="display: none">
                                                            @ftpUsername
                                                            <button class="btn btn-sm btn-link copy-btn" data-clipboard="@ftpUsername" title="Copy to clipboard">
                                                                <i class="fa-solid fa-fw fa-copy"></i>
                                                            </button>
                                                        </span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }

                                                if (!string.IsNullOrWhiteSpace(ftpPassword))
                                                {
                                                    <td>
                                                        <span id="ftpPassword-@item.GameServerId-dummy" class="credential-toggle cursor-pointer">
                                                            *******
                                                            <i class="fa-solid fa-fw fa-eye"></i>
                                                        </span>
                                                        <span id="ftpPassword-@item.GameServerId" class="credential-value" data-credential="@ftpPassword"
                                                            style="display: none">
                                                            @ftpPassword
                                                            <button class="btn btn-sm btn-link copy-btn" data-clipboard="@ftpPassword" title="Copy to clipboard">
                                                                <i class="fa-solid fa-fw fa-copy"></i>
                                                            </button>
                                                        </span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                            }
                                            else
                                            {
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            // Toggle credential visibility
            $('.credential-toggle').click(function() {
                $(this).hide();
                $(this).next('.credential-value').show();
            });

            // Copy to clipboard functionality
            $('.copy-btn').click(function(e) {
                e.preventDefault();
                const textToCopy = $(this).data('clipboard');
                
                // Use modern Clipboard API if available
                if (navigator.clipboard && navigator.clipboard.writeText) {
                    navigator.clipboard.writeText(textToCopy).then(function() {
                        showCopyToast();
                    }).catch(function(err) {
                        // Fallback to older method
                        fallbackCopyToClipboard(textToCopy);
                    });
                } else {
                    // Fallback for older browsers/mobile
                    fallbackCopyToClipboard(textToCopy);
                }
            });

            function fallbackCopyToClipboard(text) {
                const textArea = document.createElement('textarea');
                textArea.value = text;
                textArea.style.position = 'fixed';
                textArea.style.left = '-999999px';
                textArea.style.top = '-999999px';
                document.body.appendChild(textArea);
                textArea.focus();
                textArea.select();
                
                try {
                    document.execCommand('copy');
                    showCopyToast();
                } catch (err) {
                    console.error('Fallback: Could not copy text', err);
                    alert('Failed to copy to clipboard');
                }
                
                document.body.removeChild(textArea);
            }

            function showCopyToast() {
                // Check if toastr is available (from the Inspinia template)
                if (typeof toastr !== 'undefined') {
                    toastr.success('Copied to clipboard!', 'Success', {
                        timeOut: 2000,
                        positionClass: 'toast-top-right'
                    });
                } else {
                    // Simple fallback alert
                    const toast = $('<div class="alert alert-success copy-toast">Copied to clipboard!</div>');
                    $('body').append(toast);
                    setTimeout(function() {
                        toast.fadeOut(function() { $(this).remove(); });
                    }, 2000);
                }
            }
        });
    </script>

}