@using XtremeIdiots.Portal.Web.ViewModels
@model GameServerViewModel

@{
    ViewData["Title"] = "Create Game Server";
}

<div class="wrapper wrapper-content animated fadeInRight">

    <form asp-action="Create">

        <div class="row">
            <div class="col-12">

                <div class="container-fluid">
                    <div class="ibox">
                        <div class="ibox-title">
                            General
                        </div>
                        <div class="ibox-content">
                            <div class="mb-3">
                                <label asp-for="GameType" class="form-label"></label>
                                <select asp-for="GameType" class="form-select" asp-items="ViewBag.GameType"></select>
                                <span asp-validation-for="GameType" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Title" class="form-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Hostname" class="form-label"></label>
                                <input asp-for="Hostname" class="form-control" />
                                <span asp-validation-for="Hostname" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="QueryPort" class="form-label"></label>
                                <input asp-for="QueryPort" class="form-control" />
                                <span asp-validation-for="QueryPort" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="container-fluid">
                    <div class="ibox">
                        <div class="ibox-title">
                            Display Options
                        </div>
                        <div class="ibox-content">
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="AgentEnabled" />
                                    @Html.DisplayNameFor(model => model.AgentEnabled)
                                </label>
                            </div>
                            <hr />
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="FtpEnabled" />
                                    @Html.DisplayNameFor(model => model.FtpEnabled)
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="RconEnabled" />
                                    @Html.DisplayNameFor(model => model.RconEnabled)
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="BanFileSyncEnabled" />
                                    @Html.DisplayNameFor(model => model.BanFileSyncEnabled)
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="ServerListEnabled" />
                                    @Html.DisplayNameFor(model => model.ServerListEnabled)
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">

                <div class="container-fluid">
                    <div class="ibox">
                        <div class="ibox-title">
                            @ViewData["Title"]
                        </div>
                        <div class="ibox-content">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa-solid fa-fw fa-plus" aria-hidden="true"></i> Create
                                </button>
                            </div>

                        </div>
                        <div class="ibox-footer">
                            <div class="btn-group btn-group-sm" role="group">
                                <a class="btn btn-outline-secondary" asp-action="Index"><i
                                        class="fa-solid fa-fw fa-arrow-left"></i> Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </form>

</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}